
<block-ui>
  <MenuComponent></MenuComponent>
  <div class="page-content" style=" padding:0;border:0;top:0px; bottom:0px;">
    <div class="page-container" style="background-color:white;">
      <div class="container" style="background-color:white; border:1px solid dodgerblue;height: 87.5vh;">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="page-footer">
      <div class="container">
        2015 &copy; YMCA. Todos los derechos reservados.
      </div>
    </div>
    <div class="scroll-to-top">
      <i class="icon-arrow-up"></i>
    </div>
  </div>
</block-ui>