<div class="container-fluid">
    <div class="ui-md-12">


        <div class="ui-md-12">
            <h2>Alta Docente</h2>

        </div>

        <div class="ui-md-12" style="margin: 20px 0px">
            <p-steps [model]="items" [(activeIndex)]="activeIndex" styleClass="steps-custom">
            </p-steps>
        </div>


        <div class="ui-md-12">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <p-tabPanel [selected]="tab1" style="border:0px solid !important">
                    <form [formGroup]="tab1form">
                        <!--datos personales-->
                        <p-panel header="Datos Personales">

                            <div class="ui-grid-row">

                                <div class="ui-md-6">
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Nombre
                                            <input type="text" pInputText formControlName="nombre" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['nombre'].valid&&(tab1form.controls['nombre'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Apellido Paterno
                                            <input type="text" pInputText formControlName="paterno" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['paterno'].valid&&(tab1form.controls['paterno'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Apellido Materno
                                            <input type="text" pInputText formControlName="materno" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['materno'].valid&&(tab1form.controls['materno'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Nacionalidad
                                            <p-dropdown [options]="nacional" formControlName="nacionalidad" [autoWidth]="false" (onChange)="ChangeNacionalidad()" [(ngModel)]="slcNacionalidad"></p-dropdown>
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['nacionalidad'].valid&&(tab1form.controls['nacionalidad'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Lugar de Nacimiento
                                            <p-dropdown [options]="nacimientoLugar" formControlName="lugarnacimiento" [autoWidth]="false" [(ngModel)]="slcLugarNacimineto"></p-dropdown>
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['lugarnacimiento'].valid&&(tab1form.controls['lugarnacimiento'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui-md-6">
                                    <div class="ui-grid-row">
                                        <div class="ui-md-6">
                                            Fecha de Nacimiento
                                            <p-calendar [(ngModel)]="date1" [showIcon]="true" formControlName="nacimiento" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['nacimiento'].valid&&(tab1form.controls['nacimiento'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            CURP
                                            <input type="text" pInputText formControlName="curp" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['curp'].valid&&(tab1form.controls['curp'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Numero de Seguridad Social
                                            <input type="text" pInputText formControlName="nss" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['nss'].valid&&(tab1form.controls['nss'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Genero
                                            <p-dropdown [options]="genero" formControlName="genero" [autoWidth]="false"></p-dropdown>
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['genero'].valid&&(tab1form.controls['genero'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Estado Civil
                                            <p-dropdown [options]="estadocivil" formControlName="estadocivil" [autoWidth]="false"></p-dropdown>
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['estadocivil'].valid&&(tab1form.controls['estadocivil'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </p-panel>

                        <!--dirección-->

                        <p-panel header="Dirección ">

                            <div class="ui-grid-row">

                                <div class="ui-md-6">
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Calle
                                            <input type="text" pInputText formControlName="calle" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['calle'].valid&&(tab1form.controls['calle'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Número Exterior
                                            <input type="text" pInputText formControlName="exterior" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['exterior'].valid&&(tab1form.controls['exterior'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Numero Interior
                                            <input type="text" pInputText formControlName="interior" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['interior'].valid&&(tab1form.controls['interior'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-5">
                                            Código Postal
                                            <input type="text" onKeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;" pInputText formControlName="cp" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['cp'].valid&&(tab1form.controls['cp'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="ui-md-6">
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Colonia
                                            <input type="text" pInputText formControlName="colonia" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['colonia'].valid&&(tab1form.controls['colonia'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Estado
                                            <p-dropdown [options]="estado" formControlName="estado" [autoWidth]="false" [(ngModel)]="sclEstado" (onChange)="ChangeEstado()"></p-dropdown>
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['estado'].valid&&(tab1form.controls['estado'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Delegación | Municipio
                                            <p-dropdown [options]="municipio" formControlName="municipio" [autoWidth]="false"></p-dropdown>
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['municipio'].valid&&(tab1form.controls['municipio'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </p-panel>

                        <!--Datos de Contacto-->
                        <p-panel header="Datos de Contacto">

                            <div class="ui-grid-row">

                                <div class="ui-md-6">
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Telefono Celular
                                            <input type="text" pInputText formControlName="celular" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['celular'].valid&&(tab1form.controls['celular'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Telefono Casa
                                            <input type="text" pInputText formControlName="telcasa" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['telcasa'].valid&&(tab1form.controls['telcasa'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>

                                <div class="ui-md-6">
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Telefono Oficina
                                            <input type="text" pInputText formControlName="teloficina" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['teloficina'].valid&&(tab1form.controls['teloficina'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Email
                                            <input type="text" pInputText formControlName="email" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab1form.controls['email'].valid&&(tab1form.controls['email'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-panel>

                        <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                            Form Submitted
                            <br>
                            {{diagnostic}}
                        </div>
                    </form>
                </p-tabPanel>

                <p-tabPanel [selected]="tab2" style="border:0px solid !important">
                    <form [formGroup]="tab2form">
                        <!--datos fiscales-->
                        <p-panel header="Datos Fiscales">
                            <div class="ui-grid-row">
                                <div class="ui-md-6">
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            RFC
                                            <input type="text" pInputText formControlName="rfc" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab2form.controls['rfc'].valid&&(tab2form.controls['rfc'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Razón Social
                                            <input type="text" pInputText formControlName="razon" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab2form.controls['razon'].valid&&(tab2form.controls['razon'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Email
                                            <input type="text" pInputText formControlName="emailf" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab2form.controls['emailf'].valid&&(tab2form.controls['emailf'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <p-checkbox binary="true" [(ngModel)]="checked" (onChange)="MismaDireccion()" label="Usar dirección personal" formControlName="checked"></p-checkbox>
                                    <div class="ui-grid-row">

                                        <div class="ui-md-10">
                                            Calle
                                            <input type="text" pInputText formControlName="callef" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab2form.controls['callef'].valid&&(tab2form.controls['callef'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Número Exterior
                                            <input type="text" pInputText formControlName="exteriorf" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab2form.controls['exteriorf'].valid&&(tab2form.controls['exteriorf'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="ui-md-6">
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Numero Interior
                                            <input type="text" pInputText formControlName="interiorf" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab2form.controls['interiorf'].valid&&(tab2form.controls['interiorf'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-5">
                                            Código Postal
                                            <input type="text" onKeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;" pInputText formControlName="cpf" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab2form.controls['cpf'].valid&&(tab2form.controls['cpf'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Colonia
                                            <input type="text" pInputText formControlName="coloniaf" />
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab2form.controls['coloniaf'].valid&&(tab2form.controls['coloniaf'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Estado
                                            <p-dropdown [options]="estado" formControlName="estadof" [autoWidth]="false" [(ngModel)]="sclEstadoF"></p-dropdown>
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab2form.controls['estadof'].valid&&(tab2form.controls['estadof'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-md-10">
                                            Delegación | Municipio
                                            <p-dropdown [options]="municipio" formControlName="municipiof" [autoWidth]="false"></p-dropdown>
                                        </div>
                                        <div class="ui-md-2">
                                            <br />
                                            <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab2form.controls['municipiof'].valid&&(tab2form.controls['municipiof'].dirty||validar)">
                                                <i class="fa fa-close"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-panel>
                    </form>
                </p-tabPanel>

                <p-tabPanel [selected]="tab3" style="border:0px solid !important">
                    <form [formGroup]="tab3form">

                        <!--datos fiscales-->
                        <p-panel header="Estudios">
                            <div class="ui-grid-row">
                                <div class="ui-grid-row">
                                    <div class="ui-md-10">
                                        Institución 
                                        <input type="text" pInputText formControlName="institucion" />
                                    </div>
                                    <div class="ui-md-2">
                                        <br />
                                        <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab3form.controls['institucion'].valid&&(tab3form.controls['institucion'].dirty||validar)">
                                            <i class="fa fa-close"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui-grid-row">
                                    <div class="ui-md-10">
                                        Nivel 
                                        <input type="text" pInputText formControlName="nivel" />
                                    </div>
                                    <div class="ui-md-2">
                                        <br />
                                        <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab3form.controls['nivel'].valid&&(tab3form.controls['nivel'].dirty||validar)">
                                            <i class="fa fa-close"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-md-10">
                                        Carrera 
                                        <input type="text" pInputText formControlName="carrera" />
                                    </div>
                                    <div class="ui-md-2">
                                        <br />
                                        <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab3form.controls['carrera'].valid&&(tab3form.controls['carrera'].dirty||validar)">
                                            <i class="fa fa-close"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui-grid-row">
                                    <div class="ui-md-10">
                                        Comprobante (Cedula) 
                                        <p-growl [value]="msgs"></p-growl>

                                        <p-fileUpload name="demo[]" url="http://localhost:61821/AltaDocente" (onUpload)="onUpload($event)"
                                                      multiple="multiple"  maxFileSize="1000000">
                                            <template pTemplate type="content">
                                                <ul *ngIf="uploadedFiles.length">
                                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                                </ul>
                                            </template>
                                        </p-fileUpload>
                                    </div>
                                    <div class="ui-md-2">
                                        <br />
                                        <div class="ui-message ui-messages-error ui-corner-all " *ngIf="!tab3form.controls['comprobante'].valid&&(tab3form.controls['comprobante'].dirty||validar)">
                                            <i class="fa fa-close"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </p-panel>

                        <p-panel header="Publicaciones">

                        </p-panel>
                    </form>
                </p-tabPanel>
            </div>

        </div>


        <div class="ui-md-12">
            <button pButton type="button" (click)="Atras()" label="Atras"></button>
            <button pButton type="submit" (click)="Siguente()" label="Siguente" ></button>
        </div>


    </div>

</div>