

  <div class="login-page" [@routerTransition]>

      <div class="col-md-12">
        <div class="col-md-4 push-md-4 centrado-porcentual">
          <div>&nbsp;</div>

          <img src="../../assets/images/uniymca.png" width="80" class="logo" />
          <form role="form" >
              <div class="form-group col-md-8 push-md-2">
                <input type="text" ng-model="name" class="form-control input-underline input-md " placeholder="Usuario">
              </div>
              <div class="form-group col-md-8 push-md-2">
                <input type="password" class="form-control input-underline input-md" id="" placeholder="Password">
              </div>
            <a class="btn rounded-btn" [routerLink]="['/home']" (click)="onLoggedin()"> Entrar </a>
          </form>
          <div>&nbsp;</div>
        </div>
       
      </div>
    <footer>
      <div class="footer">
        2017 © Universidad YMCA - Portal de Egresos.
      </div>
    </footer>
      

    </div>
   
