<div id="nav-icon2" style="z-index: 9999999;">
  <div class="crop-img">
    <img class="ymcaimg" style="background-color:white;" />
  </div>
</div>
<div class="sliding-menu flex-center-wrapper flex-column left-menu" >
  <ul style="position:relative;">
    <li class='navbar-header' style="list-style: none; display: inline; border-left:0px; border-right:0px">
      <a class='navbar-brand' [routerLink]="['/home']">Home</a>
    </li>
    <li dropdown *ngFor="let itemmenu of listMenu; let i = index;" style="width:100%">
      <a dropdownToggle (click)="false">
        {{itemmenu.titulo}} <span></span>
      </a>
      <ul *dropdownMenu class="dropdown-menu" style="position:fixed; top:inherit">
        <li role="menuitem" *ngFor="let subitem of  itemmenu.subMenus; let i2 = index;" style="list-style: none; display: inline; width:100%">
          <a class="dropdown-item" href={{subitem.direccion}}>
            <span class='glyphicon glyphicon-list'></span> {{subitem.descripcion}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
